@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&family=Roboto:wght@300&display=swap');

:root {
    /* fonts */
    --heading-font: "Noto Serif Makasar";
    --paragraph-font: Roboto, Helvetica, sans-serif;
    /* colors */
    --avocado: #5a7105ff;
    --selective-yellow: #f4b506ff;
    --field-drab: #594600ff;
    --dark-red: #8c0100ff;
    --black-bean: #420000ff;
    --snow: #F9F2F0;
}

body {
    margin: 0;
    background-color: var(--snow);
}

header {
    background-color: var(--avocado);
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.logo {
    width: 8rem;
    border-radius: 150px;
    padding: 1rem;
    align-items: center;
    float: left;
}

header a {
    text-align: center;
    grid-column: 1;
    justify-items: center;
    text-decoration: none;
}

header h1 {
    float: left;
    font-family: var(--heading-font);
    color: var(--selective-yellow);
    margin: 50px 0 0 0;
    padding: 0;
}

header p {
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: var(--selective-yellow);
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 10px auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: var(--selective-yellow);
    font-size: 1.5rem;
    padding: 1rem;
}

#nav-bar .navigation li {
    margin-left: 10px;
}

#nav-bar .navigation li:first-child {
    margin-left: 0;
}

#nav-bar .navigation li a {
    text-decoration: none;
    color: var(--selective-yellow);
    font-family: var(--heading-font);
    padding: 2rem;
}

.navigation li a:hover {
    background-color: var(--slate-gray);
    color: var(--oxford-blue);
    font-weight: 700;
}

#hamButton {
    display: none;
}

header div {
    margin: 50px;
    text-align: center;
}