@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&family=Roboto:wght@300&display=swap');

:root {
    /* fonts */
    --heading-font: "Noto Serif Makasar";
    --paragraph-font: Roboto, Helvetica, sans-serif;
    /* colors */
    --avocado: #5a7105ff;
    --selective-yellow: #f4b506ff;
    --field-drab: #594600ff;
    --dark-red: #8c0100ff;
    --black-bean: #420000ff;
    --snow: #F9F2F0;
}

body {
    margin: 0;
    background-color: var(--snow);
}

header {
    background-color: var(--avocado);
    padding: 5px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.logo {
    width: 8rem;
    padding: 1rem;
    align-items: center;
    float: left;
}

header a {
    text-align: center;
    grid-column: 1;
    justify-items: center;
    text-decoration: none;
}

header h1 {
    float: left;
    font-family: var(--heading-font);
    color: var(--selective-yellow);
    margin: 50px 0 0 0;
    padding: 0;
    letter-spacing: 0.6rem;
}

header p {
    font-size: 1.2rem;
    font-family: var(--heading-font);
    color: var(--selective-yellow);
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 10px auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: var(--selective-yellow);
    font-size: 1.5rem;
    padding: 1rem;
}

#nav-bar .navigation li {
    margin-left: 10px;
}

#nav-bar .navigation li:first-child {
    margin-left: 0;
}

#nav-bar .navigation li a {
    text-decoration: none;
    color: var(--selective-yellow);
    font-family: var(--heading-font);
    padding: 2rem;
}

.navigation li a:hover {
    background-color: var(--snow);
    border-radius: 2rem;
    color: var(--oxford-blue);
    font-weight: 700;
}

#hamButton {
    display: none;
}

header div a{
    padding: .8rem;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3E4E03;
    padding: 1rem 0;
    width: 100%;
}

footer a {
    text-decoration: none;
}

footer h1,
footer h2 {
    color: var(--selective-yellow);
    margin: 0;
    padding: 0;
}

footer h1 {
    font-family: var(--heading-font);
    margin-top: 50px;
    font-size: 1.5rem;
}

footer h2 {
    font-family: var(--paragraph-font);
    font-size: 1rem;
}

footer hr {
    grid-column: 1/5;
    color: var(--snow);
    width: 95%;
    padding: 0;
}

#mainFooter {
    text-align: center;
    padding: 1rem;
}

footer #socialMedia {
    text-align: center;
    grid-column: 3/4;
    grid-row: 1;
}

#footerNav{
    grid-column: 3/4;
    grid-row: 1;
}

#footerNav a{
    display: flex;
    padding: .5rem;
    color: var(--selective-yellow);
    font-family: var(--heading-font);
}

#footerNav a:hover{
    display: flex;
    padding: .5rem;
    color: var(--snow);
    font-family: var(--heading-font);
}

.contact-location,
.contact-location a {
    color: var(--selective-yellow);
    font-family: var(--paragraph-font);
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
}

#project-information {
    grid-column: 1/5;
    text-align: center;
    color: var(--selective-yellow);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}