@media screen and (max-width: 719px) {

    main {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 0;
    }
}