body {
    max-width: 1920px;
    text-align: center;
    justify-content: center;
    padding: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.cards section {
    border: 2px solid blue;
    padding: 1.5rem;
    
}

.cards img {
    box-shadow: 5px 5px 20px #000;
}