@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Barlow:wght@300&display=swap');

:root {
    /* fonts */
    --heading-font: "Arbutus Slab";
    --paragraph-font: Barlow, Helvetica, sans-serif;
    /* colors */
    --oxford-blue: #0c1536ff;
    --slate-gray: #64748cff;
    --honolulu-blue: #0077b6ff;
    --columbia-blue: #cbebfbff;
}

body {
    max-width: 1920px;
    margin: 0;
}

header {
    background-color: var(--oxford-blue);
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
}

.logo {
    width: 8rem;
    border-radius: 150px;
    padding: 1rem;
    align-items: center;
    float: left;
}

header a {
    text-align: center;
    grid-column: 1;
    justify-items: center;
    text-decoration: none;
}

header h1,
header h2 {
    font-family: var(--heading-font);
    color: var(--columbia-blue);
    margin: 0;
    padding: 0;
}

header h1 {
    margin-top: 50px;
    letter-spacing: 0.6rem;
    width: 390px;

}

header h2 {
    font-size: 0.9rem;
    width: 380px;
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 10px auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: var(--columbia-blue);
    font-size: 1.5rem;
    padding: 1rem;
}

#nav-bar .navigation li {
    margin-left: 10px;
}

#nav-bar .navigation li:first-child {
    margin-left: 0;
}

#nav-bar .navigation li a {
    text-decoration: none;
    color: #cbebfbff;
    font-family: var(--heading-font);
    padding: 2rem;
}

.navigation li a:hover {
    background-color: var(--slate-gray);
    color: var(--oxford-blue);
    font-weight: 700;
  }

#hamButton {
    display: none;
}

header div {
    margin: 50px;
    text-align: center;
}

#current_day_header {
    background-color: var(--columbia-blue);
    color: var(--oxford-blue);
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    align-content: center;
    width: 100%;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-rows: repeat(3, 300px);
    margin: 50px auto 50px;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 1800px;
    font-family: var(--paragraph-font);
    font-size: 2rem;
    margin: 50px;
}

#event {
    background-color: var(--slate-gray);
    box-shadow: 2px 2px 2px #14213dff;
    overflow: hidden;
    padding: 1rem;
}

#weather {
    grid-column: 1;
    grid-row: 2;
    background-color: var(--slate-gray);
    box-shadow: 2px 2px 2px #14213dff;
    overflow: hidden;
    padding: 1rem;
}

#join {
    grid-column: 1;
    grid-row: 3;
    background-color: var(--slate-gray);
    box-shadow: 2px 2px 2px #14213dff;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
}

#join button {
    width: 100%;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--honolulu-blue);
    color: var(--oxford-blue);
    font-size: 2rem;
    font-family: var(--heading-font);
}

#join p {
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
}

#news {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    background-color: var(--slate-gray);
    box-shadow: 2px 2px 2px #14213dff;
    grid-column: 2;
    overflow: hidden;
    padding: 1rem;
}

#news h3 {
    font-family: var(--heading-font);
    color: var(--oxford-blue);
}

#news p {
    font-family: var(--paragraph-font);
    color: var(--columbia-blue);
}

#hero {
    grid-column: 2;
    grid-row: 1/3;
    background-color: var(--slate-gray);
    box-shadow: 2px 2px 2px #14213dff;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#hero h1 {
    z-index: 0;
    position: absolute;
    padding: 2rem;
    font-family: var(--heading-font);
    color: var(--oxford-blue);
}

#hero button {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: var(--columbia-blue);
    color: var(--oxford-blue);
    font-size: 18px;
    font-family: var(--heading-font);
    border-radius: 10px;
    cursor: pointer;
}

.spotlight {
    grid-column: 3;
    grid-row: 1/4;
    flex-direction: row;
    background-color: var(--slate-gray);
    box-shadow: 2px 2px 2px rgb(26, 32, 45);
    padding: 1rem;
}

#spotlight-1 {
    border: 1px solid black;
    padding: 1rem;
    height: 270px;
}

#spotlight-2 {
    border: 1px solid black;
    padding: 1rem;
    height: 270px;
}

#spotlight-3 {
    border: 1px solid black;
    padding: 1rem;
    height: 270px;
}

.banner {
    background-color: var(--columbia-blue);
    color: var(--oxford-blue);
    padding: 10px;
    text-align: center;
  }

footer {
    background-color: var(--oxford-blue);
    padding: 1rem 0;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

footer h1, footer h2 {
    color: var(--columbia-blue);
    margin: 0;
    padding: 0;
    grid-column: 1/3;
}

footer h1 {
    font-family: var(--heading-font);
    margin-top: 50px;
    font-size: 1.5rem;
}

footer h2 {
    font-family: var(--paragraph-font);
    font-size: 1rem;
}

footer hr {
    grid-column: 1/4;
    color: var(--slate-gray);
    width: 95%;
    padding: 0;
}

footer div {
    height: 200px;
}

.contact-location,
.contact-location a {
    grid-column: 3;
    grid-row: 1;
    color: var(--columbia-blue);
    font-family: var(--paragraph-font);
    text-align: center;
    justify-items: center;
    max-width: 300px;
    margin: 30px;
    font-size: 1.2rem;
    text-decoration: none;
}

/* #location p {
    margin-right: 70px;
}

#location img {
    float: left;
} */

#project-information {
    grid-column: 1/4;
    text-align: center;
    color: var(--columbia-blue);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

main {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
}

.information, .location, .demographic {
    display: flex;
    flex-direction: column;
    border: 2px solid #0c1536ff;
    grid-row: 1/3;
    padding: 1rem;
    text-align: center;
}

.information h4, .information p, .location h4, .location p, .demographic h4, .demographic p {
    margin: 0;
    padding: 0.2rem;
}

.galery {
    grid-row: 3;
    border-radius: 5px;
    transition: 0.3s;
}

.galery:hover {opacity: 0.7;}



main figure.galery {
    width: 100%;
    margin: 0 0 0 2%;
    float: right;
}

main figure.galery img {
    width: 100%;
}

main figure.galery figcaption {
    text-align: center;
    font-size: 1.5rem;
}

#location-img {
    justify-items: center;
    max-width: 300px;
}