@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Barlow:wght@300&display=swap');

:root {
    /* fonts */
    --heading-font: "Arbutus Slab";
    --paragraph-font: Barlow, Helvetica, sans-serif;
    /* colors */
    --oxford-blue: #0c1536ff;
    --slate-gray: #64748cff;
    --honolulu-blue: #0077b6ff;
    --columbia-blue: #cbebfbff;
}

body {
    margin: 0;
    background-color: #EEF7FB;
}

header {
    background-color: var(--oxford-blue);
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.logo {
    width: 8rem;
    border-radius: 150px;
    padding: 1rem;
    align-items: center;
    float: left;
}

header a {
    text-align: center;
    grid-column: 1;
    justify-items: center;
    text-decoration: none;
}

header h1,
header h2 {
    font-family: var(--heading-font);
    color: var(--columbia-blue);
    margin: 0;
    padding: 0;
}

header h1 {
    margin-top: 50px;
    letter-spacing: 0.6rem;
    width: 390px;

}

header h2 {
    font-size: 0.9rem;
    width: 380px;
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 10px auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: var(--columbia-blue);
    font-size: 1.5rem;
    padding: 1rem;
}

#nav-bar .navigation li {
    margin-left: 10px;
}

#nav-bar .navigation li:first-child {
    margin-left: 0;
}

#nav-bar .navigation li a {
    text-decoration: none;
    color: #cbebfbff;
    font-family: var(--heading-font);
    padding: 2rem;
}

.navigation li a:hover {
    background-color: var(--slate-gray);
    color: var(--oxford-blue);
    font-weight: 700;
}

#hamButton {
    display: none;
}

header div {
    margin: 50px;
    text-align: center;
}

#current_day_header {
    background-color: var(--columbia-blue);
    color: var(--oxford-blue);
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    align-content: center;
    width: 100%;
    margin: 0;
}

#curreny-day{
    width: 100%;
}

#index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    column-gap: 20px;
    row-gap: 20px;
    font-family: var(--paragraph-font);
    font-size: 2rem;
    margin: 50px;
}

#index div {
    border: 2px solid #0c1536ff;
}

#event {
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 0 0 5px #0c1536ff;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
}

#event h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: var(--heading-font);
}

#event p {
    margin-top: 0;
    font-size: 1.5rem;
}

#event a {
    text-decoration: none;
    color: var(--oxford-blue);    
}

#event a:hover {
    text-decoration: underline;
    color: var(--honolulu-blue);
}

#weather {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    box-shadow: 0 0 5px #0c1536ff;
    overflow: hidden;
    padding: 1rem;
}

#weather h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}


#weather p {
    font-size: 1.2rem;
    margin: 0;
}

#weather div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    width: 90%;
    margin: auto auto 1.5em;
    border: none;
}

#current-temp{
    font-size: 2rem;
}

#weather figure {
    margin: -1rem;
}

#weather figcaption {
    margin: -1rem;
    font-size: 1.5rem;
}

#weather a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--honolulu-blue);
}

#weather a:hover {
    font-size: 1rem;
    color: var(--oxford-blue);
    text-decoration: underline;
}

#join {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/2;
    grid-row: 3/4;
    box-shadow: 0 0 5px #0c1536ff;
    overflow: hidden;
    padding: 2rem;
    text-align: center;
}

#joinUs {
    width: 100%;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: var(--honolulu-blue);
    font-family: var(--heading-font);
    cursor: pointer;
}

#joinUs {
    text-decoration: none;
    color: var(--oxford-blue);
    font-size: 2rem;
}

#joinUs:hover{
    background-color: var(--slate-gray);
    color: var(--columbia-blue);
}

#join p {
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
}

#news {
    box-shadow: 0 0 5px #0c1536ff;
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: center;
    overflow: hidden;
    padding: 1.5rem;
}

#news h3 {
    font-family: var(--heading-font);
    color: var(--oxford-blue);
    margin: 0;
}

#news p {
    font-family: var(--paragraph-font);
    color: var(--oxford-blue);
}

#hero {
    grid-column: 2/4;
    grid-row: 1/3;
    box-shadow: 2px 2px 2px #14213dff;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#hero h1 {
    z-index: 0;
    position: absolute;
    padding: 2rem;
    font-family: var(--heading-font);
    color: #EEF7FB;
}

#hero a {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: var(--columbia-blue);
    color: var(--oxford-blue);
    font-size: 18px;
    font-family: var(--heading-font);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

#hero a:hover {
    background-color: var(--oxford-blue);
    color: var(--columbia-blue);
}

.spotlight {
    grid-column: 4/5;
    grid-row: 1/4;
    box-shadow: 0 0 5px #0c1536ff;
    padding: 0.5rem;
    text-align: center;
}

#spotlight-1, #spotlight-2, #spotlight-3 {
    border: 1px solid #0077b6ff;
    padding: 0.5rem;
}

#spotlight-1 img, #spotlight-2 img, #spotlight-3 img {
    border-radius: 10px;
}


#spotlight-1 h4, #spotlight-2 h4, #spotlight-3 h4 {
    margin: 0;
    font-family: var(--heading-font);
}

#spotlight-1 p, #spotlight-2 p, #spotlight-3 p {
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
}

#spotlight-1 a, #spotlight-2 a, #spotlight-3 a {
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
    text-decoration: none;
    color: var(--oxford-blue);
}

#spotlight-1 a:hover, #spotlight-2 a:hover, #spotlight-3 a:hover {
    color: var(--honolulu-blue);
    text-decoration: underline;
}

.banner {
    background-color: var(--columbia-blue);
    color: var(--oxford-blue);
    padding: 10px;
    text-align: center;
}

footer {
    background-color: var(--oxford-blue);
    padding: 1rem 0;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

footer h1,
footer h2 {
    color: var(--columbia-blue);
    margin: 0;
    padding: 0;
    grid-column: 1/3;
}

footer h1 {
    font-family: var(--heading-font);
    margin-top: 50px;
    font-size: 1.5rem;
}

footer h2 {
    font-family: var(--paragraph-font);
    font-size: 1rem;
}

footer hr {
    grid-column: 1/4;
    color: var(--slate-gray);
    width: 95%;
    padding: 0;
}

footer div {
    height: 200px;
}

.contact-location,
.contact-location a {
    grid-column: 3;
    grid-row: 1;
    color: var(--columbia-blue);
    font-family: var(--paragraph-font);
    text-align: center;
    justify-items: center;
    max-width: 300px;
    margin: 30px;
    font-size: 1.2rem;
    text-decoration: none;
}

/* #location p {
    margin-right: 70px;
}

#location img {
    float: left;
} */

#project-information {
    grid-column: 1/4;
    text-align: center;
    color: var(--columbia-blue);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Discover page */

.discover {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
}

.information,
.location,
.demographic {
    display: flex;
    flex-direction: column;
    border: 2px solid #0c1536ff;
    grid-row: 1/3;
    padding: 1rem;
    text-align: center;
}

.information h4,
.information p,
.location h4,
.location p,
.demographic h4,
.demographic p {
    margin: 0;
    padding: 0.2rem;
}

.galery {
    grid-row: 3;
    border-radius: 5px;
    transition: 0.3s;
}

.galery:hover {
    opacity: 0.7;
}



.discover figure.galery {
    width: 100%;
    margin: 0 0 0 2%;
    float: right;
}

.discover figure.galery img {
    width: 100%;
}

.discover figure.galery figcaption {
    text-align: center;
    font-size: 1.5rem;
}

#location-img {
    justify-items: center;
    max-width: 300px;
}

/* JOIN US PAGE */

body {
    background-color: #EEF7FB;
}

#joinChamber {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    text-align: center;
    padding: 3rem;
    align-items: center;
}

 #form {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #0c1536ff;
    height: 100%;
    padding: 2rem;
    max-width: 900px;
    text-align: center;
    border-radius: 1rem;
}

 #form h1 {
    font-family: var(--heading-font);
}

 #form label {
    display: block;
    margin-bottom: 10px;
    font-family: var(--paragraph-font);
    color: var(--oxford-blue);
    font-size: 2rem;
}

.required {
    color: red;
  }

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

.membership-benefits {
    grid-column: 3/5;
    padding: 1rem;
    border: 2px solid #0c1536ff;
    text-align: center;
    border-radius: 1rem;
    color: var(--oxford-blue);
    height: 100%;
    overflow: auto;
    box-sizing: border-box;

}

.membership-benefits h4,
.membership-benefits p {
    margin: 3rem;
    font-size: 2rem;
}

.membership-benefits h1 {
    margin: 1rem;
}

input[type="submit"] {
    background-color: var(--oxford-blue);
    color: var(--columbia-blue);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 1rem;
}

input[type="submit"]:hover {
    background-color: var(--honolulu-blue);
    color: var(--oxford-blue);
}

/* THANK YOU PAGE */
#thankyou {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div h1 {
    font-family: var(--heading-font);
}

/* Directory PAGE */

.company {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: 3rem;
}

.company h2 {
    font-family: var(--heading-font);
    color: var(--honolulu-blue);
}

.company p {
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
    color: var(--oxford-blue);
}

.company section {
    text-align: center;
    align-items: center;
    border: 2px solid #cbebfbff;
    padding: 2rem; 
    box-shadow: 0 0 10px #343a40;   
    display: flex;
    flex-direction: column;
}

.company img {
    box-shadow: 2px 2px 10px #343a40;
    border-radius: 10px;
    /* margin-bottom: 2rem; */
}

.company a {
    text-decoration: none;
    color: var(--honolulu-blue);
    margin-top: 2rem;
}

.company a:hover {
    text-decoration: solid;
    color: var(--slate-gray);
    cursor: pointer;
    font-size: 2.1rem;
}
/* 
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */


/* .list section h2 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
} */