@media screen and (min-width: 720px) and (max-width: 1500px) {

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #hamButton {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: navy;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
  }
  .navigation li {
    display: none;
  }
  .navigation li a {
    padding: 1.15rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .navigation li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }

  .navigation.responsive li {
    display: block;
    width: 100%;
  }
  .navigation.responsive li a {
    display: block;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(5, 400px);
    column-gap: 1rem;
    max-width: 1500px;
    align-content: center;
  }

  #hero {
    grid-column: 1/4;
    grid-row: 1;
  }

  #news {
    grid-column: 1/4;
    grid-row: 2;
  }

  .spotlight {
    grid-column: 1/4;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  #spotlight-1 {
    height: auto;
  }

  #spotlight-2 {
    height: auto;
  }

  #spotlight-3 {
    display: none;
  }

  #join {
    grid-column: 1/4;
    grid-row: 4;
  }

  #event {
    grid-column: 1;
    grid-row: 5;
  }

  #weather {
    grid-column: 2/4;
    grid-row: 5;
  }
}
