@media screen and (max-width: 719px) {

    #hamButton {
		display: none; /* hide hamburger button */
	} 
	
	#nav-bar {
		flex-direction: row;
	}
	
	#nav-bar a {
		display: block;
		flex: 1 1 auto;
	}
}
