@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Barlow:wght@300&display=swap');

:root {
    /* fonts */
    --heading-font: "Arbutus Slab";
    --paragraph-font: Barlow, Helvetica, sans-serif;
    /* colors */
    --oxford-blue: #0c1536ff;
    --slate-gray: #64748cff;
    --honolulu-blue: #0077b6ff;
    --columbia-blue: #cbebfbff;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0;
}

header {
    background-color: var(--oxford-blue);
    text-align: center;
    height: 130px;
    align-content: center;
    display: block;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-align: center;
    color: var(--columbia-blue);
    text-decoration: none;
    padding: 50px;
    font-size: 30px;
    font-family: var(--heading-font);

}

nav a:hover {
    color: var(--honolulu-blue);
    text-decoration: underline;
    text-decoration-color: var(--slate-gray);
    text-decoration-thickness: 2px;
}


main {
    text-align: center;

}

main h1 {
    font-family: var(--heading-font);
}

main h2 {
    font-family: var(--heading-font);

}

main p {
    font-family: var(--paragraph-font);
    font-size: 25px;
    margin: 50px 50px 50px 50px;
}

footer {
    color: var(--columbia-blue);
    text-decoration: none;
    padding: 50px;
    background-color: var(--oxford-blue);
    text-align: center;
    align-content: center;
    display: block;
    width: 100%;
    font-family: var(--heading-font);
}


