
:root {
    /* fonts */
    --heading-font: "Arbutus Slab";
    --paragraph-font: Barlow, Helvetica, sans-serif;
    /* colors */
    --oxford-blue: #0c1536ff;
    --slate-gray: #64748cff;
    --honolulu-blue: #0077b6ff;
    --columbia-blue: #cbebfbff;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0;
}

header {
    background-color: var(--oxford-blue);
    text-align: center;
    height: 130px;
    align-content: center;
    display: block;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-align: center;
    color: var(--columbia-blue);
    text-decoration: none;
    padding: 50px;
    font-size: 30px;
    font-family: var(--heading-font);

}

nav a:hover {
    color: var(--honolulu-blue);
    text-decoration: underline;
    text-decoration-color: var(--slate-gray);
    text-decoration-thickness: 2px;
}
main {
    text-align: center;
    margin: 20px;
}
section h1, section h2, section h3 {
    font-family: var(--heading-font);
    color: var(--honolulu-blue)
}

section ul {
    justify-content: center;
    list-style: inside;
    font-family: var(--paragraph-font);
}

section p {
    font-family: var(--paragraph-font);
}

footer {
    color: var(--columbia-blue);
    text-decoration: none;
    padding: 50px;
    background-color: var(--oxford-blue);
    text-align: center;
    align-content: center;
    display: block;
    width: auto;
    font-family: var(--heading-font);
}

@media screen and (max-width: 900px) {
    header {
        width: auto;
        height: 200px;
    }
    nav, footer {
        flex-direction: column;
        align-items: stretch;
    }
    nav a {
        display: block;
        padding: 15px;
    }
}